*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #589563;
  --secondary-color: #1e40af;
  --text-color: #1f2937;
  --light-bg: #f3f4f6;
  --white: #fff;
  --root-bg: radial-gradient(135deg, rgb(35, 51, 77), rgb(62, 85, 52));
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-color);
  line-height: 1.6;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section{
  padding: 80px 0;
}

h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2{
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.btn{
  display: inline-block;
  padding: 12px 30px;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover{
  background-color: green;
}

.btn-secondary{
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: white;
}

.btn-secondary:hover{
  background-color: var(--primary-color);
  color: var(--white);
}