*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(rgb(90, 90, 128), rgb(0, 255, 255));
}
.App-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(5px + 2vmin);
  color: white;
  padding: 55px;
}
.photo{
  width: 350px;
  height: 350px;
  background-color: gray;
  border-radius: 50%;
}
/* .container{
  width: 100%;
  height: 250px;
  background-color: rgb(30, 30, 30);
  border-radius: 30px;
} */